@import "variables.scss";

.navigationContainer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    padding: 1.5rem;
    color: $secondary_color;
    font-weight: 700;
}